
/* body */
body{
    text-align: center;
    background: #EBEBEB;
}
/* Content */
#content{
    margin:180px auto 0;
    width: 452px;
    height: 510px; 
    text-align: center; 
}
/* Login */
#login{
    width: 452px;
    height: 490px;
    background: #ffffff;
}
/* Hero */
#hero{
    width: 452px;
    height: 242.1px;
    background: #3B576C;
    text-align: center;
}
/* Logo */
#logo{
    width: 342px;
    height: 64;
    margin: 0 auto;
    text-align: left; 
    padding-top: 89px;
} 
/* Blog */
#blog{
    font-size: 52.62px;
    color: #ffffff;
    padding-left:18px; 
    width:279.99px;
    height: 52.62px;
}

#epcframe{
    width:412px;
    height: 232.2px;
    margin:0 auto;
}

.input{
    width: 412px;
    height: 34px;
    font-size: 25px;
    margin-top:9.6px;
    border-radius: 3px;
    border: solid 1px #cccccc;
    background-color: var(--white);
}

.font1{
    width: 35px;
    height: 16.4px;
    font-family: HelveticaNeue;
    font-size: 14px;
    position: relative;
    right: 188px;
}

.font2{
    width: 35px;
    height: 16.4px;
    font-family: HelveticaNeue;
    font-size: 14px;
    position: relative;
    right: 175px;
}

#Forgot-Password {
    width: 107px;
    height: 16.4px;
    font-family: HelveticaNeue;
    font-size: 14px;
    color: #4673e3;
    position: relative;
    right: 100px;
    text-decoration: none;
  }

  #sign {
    width: 64px;
    height: 34px;
    border-radius: 3px;
    background-color: #4673e3;
    color: white;
    position: relative;
    left: 125px;
  }

  #footer{
    width: 143px;
    height: 16.4px;
    opacity: 0.65;
    font-family: HelveticaNeue;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.54);
    position: relative;
    top:10px;
  }