body{
    text-align: center;
}


/* 左边边框模块 */
#sidebar{
    width: 260px;
    height: 1500px;
    box-shadow: -1px 1px 1px #888888
}
/* 左边边框的上面标志模块 */
#border{
    text-align: center;
    width: 260px;
    height: 70px;
    background: #3B566D;
    margin-bottom: 10px;
}
#Page-1 {
    width: 19px;
    height: 29.9px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 22px;
}

#border span {
    width: 149px;
    height: 33px;
    font-size: 28px;
    position: relative;
    bottom: 4px;
    padding-left: 14px;
    color: #ffffff;
}

.item{
    width: 260px;
    height: 48px;
    background-color: var(--black-6);
    position: relative;
}
/* small logo */
.item-shape{
    width: 24px;
    height: 24px;
    background-color: var(--medium-blue);
    position: absolute;
    left: 10px;
    top:12px;
}

.item-text{
    width: 67px;
    height: 18px;
    font-family: HelveticaNeue;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
    position:absolute;
    left: 44px;
    top:15px;
}

.item-count{
    text-align: center;
    width: 26px;
    height: 20px;
    border-radius: 2px;
    background:#9B9B9A;
    color: rgba(0, 0, 0, 0.54);
    position: absolute;
    left:220px;
    top:18px;
}
/* 右边边框的上放栏模块 */
#header {
    box-shadow: 1px 1px 1px #888888;
    width: 1340px;
    height: 70px;
    position: relative;
    bottom:1500px;
    left: 260px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
    background-color: #2a3d4e;
}

/* Overview */
#header-text{
    position:absolute;
    top:22px;
    left:20px;
    width: 93px;
    height: 52px;
    font-family: HelveticaNeueDeskInterface;
    font-size: 22px;
    color: white;
}
/* Expansion */
#header-expansion{
    position:absolute;
    left: 1217px;
    top:24px;
    width: 22px;
    height: 22px;
    border-radius: 1.5px;
    background-color: var(--white);
}
/* user-picture */
#header-pciture {
    position:absolute;
    left: 1273px;
    top:19px;
    width: 32px;
    height: 32px;
}

#content{
    box-shadow: 1px 1px 1px #888888;
    width: 1340px;
    height: 1430px;
    background-color: #ebebeb;
    position: relative;
    bottom:1500px;
    left: 260px;
}
/* 中间的大视图 */
#overview{
    width: 1160px;
    height: 1395px;
    position:absolute;
    left: 90px;
    top:40px;
    position: relative;
}

#cards{
    height: 204px;
}

#cards ul{
    background-color: rgba(209, 209, 209, 0.3);
    list-style: none;
    margin:0;
    padding: 0;
}
#cards ul li{
    border:1px solid  #888888;
    float: left;
    width: 216px;
    height: 204px;
    margin-left: 14px;
    position: relative;
}
#cards ul{
    position: relative;
    right: 10px;
}

/* 坡势图 */
.cards-div-image img{
    width: 216px;
    height: 120px;
    background-color: rgba(209, 209, 209, 0.15);
}
#cards-li-div{
    width: 69px;
    height: 25px;
    border-radius: 3px;
    border: solid 1px #cccccc;
    background-color: #fafafa;
    position: absolute;
    left: 74px;
    top: 85px;
}
#cards-li-div a{
    text-decoration: none;
    width: 49px;
    height: 16px;
    font-family: HelveticaNeue;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.87);
}
.cards-div--item1{
    position: absolute;
    left: 20px;
    top:136px;
    font-size: 20px;
}
.cards-div--item2{
    position: absolute;
    left: 20px;
    top:170px; 
    font-size: 12px;  
}
.cards-div--item3{
    position: absolute;
    left: 97.2px;
    bottom: 48.4px;
}
.cards-div--item4{
    position: absolute;
    left: 109px;
    top:142px; 
    font-size: 12px;
    color:green;    
}
.cards-div--item5{
    position: absolute;
    left: 94px;
    top:170px; 
    font-size: 12px;
    color:green;     
}


/* 中间文本模块 */
#self{
    width: 1160px;
    height: 316px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
    background:white;
    position: absolute;
    top:244px;
}

.self-item{
    height:79px;
    position: relative;
}
/* self-picture */
.self-shape{
    width: 28px;
    height: 28px;
    background-color: rgba(0, 0, 0, 0.54);
    position: absolute;
    left: 34px;
    top: 24px;
}
/* self-number */
.self-number{
    width: 18px;
    height: 21px;
    position: absolute;
    left: 92px;
    top: 16px;
}
/* self-title */
.self-title{
    height: 21px;
    position: absolute;
    left: 118px;
    top:16px;
}
/* self-list */
.self-list{
    width: 31px;
    height: 18px;
    font-family: HelveticaNeue;
    font-size: 14px;
    line-height: 1.29;
    color: rgba(0, 0, 0, 0.87); 
    position: absolute;
    left: 92px;
    top:42px;
}
/* self-message */
.self-message{
    width: 865px;
    height: 16px;
    font-family: HelveticaNeue;
    font-size: 14px;
    color: #4673e3;
    position:absolute;
    left: 133px;
    top:42px;
    text-decoration: none;
}
/* self-box */
.self-box{
    width: 42px;
    height: 26px;
    border-radius: 3px;
    border: solid 1px #cccccc;
    position:absolute;
    left: 1088px;
    top: 26px;
    text-align: center;
}
/* self-view */
.self-view{
    width: 26px;
    height: 14px;
    font-family: HelveticaNeue;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
}
.self-null{
    width: 1140px;
    height: 1px;
    background-color:#ebebeb;
    position: relative;
    left: 10px;
}

/* calendar 日历模块 */
#calendar{
    width:1160px;
    height: 740px;
    position:absolute;
    top:600px;
}

/* calendar-title */
#calendar-title{
    height: 34px;
}

#calendar-title span{
    width: 254px;
    height: 29px;
    font-size: 24px;
}

#calendar-title a{
    position: absolute;
    left: 1089px;
}

/* calendar-centent */
#calendar-centent{
    width: 1160px;
    height: 686px;
    position: absolute;
    top:49px;
}

/* calendar-centent-title */
#calendar-centent-title{
    width: 944px;
    height: 54px;
    background: white;
    position: relative;
}
/* calender-month */
#calender-month{
    position:absolute;
    left: 20px;
    top:15px;
    width: 34px;
    height: 22px;
    font-family: HelveticaNeue;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.17;
    color: rgba(0, 0, 0, 0.87);
}

/* calender-year */
#calender-year{
    position:absolute;
    left:120px;
    top:16px;
    width: 41px;
    height: 22px;
    font-family: HelveticaNeue;
    font-size: 18px;
    line-height: 1.17;
    color: rgba(0, 0, 0, 0.54);
}
/* calender-date */
#calender-date{
    width: 162px;
    height: 25px;
    border: solid 1px #cccccc;
    background-color: #fafafa;
    position:absolute;
    left: 391px;
    top:12px;
}

#calender-date ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#calender-date li{
    float:left;
}

#calender-date a:link{
    display:block;
    width:54px;
    height: 25px;
    font-weight:bold;
    color:black;
    background-color:#bebebe;
    text-align:center;
    text-decoration:none;
}

#calender-date a:hover{
    background-color:var(--mid-blue);
}
/* 左选择按钮 */
#calender-lt{
    position: absolute;
    left: 860.8px;
    bottom:21.7px;
}
/* 右选择按钮 */
#calender-gt{
    position: absolute;
    left: 900.8px;
    bottom:21.7px;
}
/* 日历内容部分 */
#calender-content-text{
    width: 944px;
    height: 632px;
    background-color: var(--black-12);
}

#calender-week-item ul{
    margin:0;
    padding:0;
    width:100%;
    height: 32;
    background-color: var(--black-12);
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.54);
}
#calender-week-item ul li{
    list-style: none;
    float: left;
    width:14.28%;
    /*规定行高，垂直居中*/
    height: 36px;
    line-height: 37px;
    text-align: center;
}
.clear{
    clear: both;
}
#calender-day{
    margin:0;
    padding:0;
    width:100%;
    height: 100px;
    background-color: var(--black-12);
    font-size: 20px;
    font-weight: 500;
}

.listyle{
    list-style: none;
    float: left;
    width:14.28%;
    /*规定行高，垂直居中*/
    height: 100px;
    text-align: center; 
}
/* 过去的日历背景 */
.dark{
    color: #565656;
    opacity:0.5;

}

.blue{
    color: blue;
    background-color: #7fc464;
}
/* 没过的日历背景 */
.black{
    color: #000000;

}

.lispan{
    position: relative;
    top:32px;
}

/* Quick Filters模块 */
.calender-filter{
    width: 216px;
    height: 740px;
    background-color: var(--very-light-pink);
    position: absolute;
    top:15px;
    left: 944px;
    position: relative;
    border:1px solid #888888;
}

.calender-filter span{
    position:absolute;
    left: 20px;
    top: 17px;
    font-family: HelveticaNeue;
    font-size: 20px;
    color: #000000;
}

.calender-filter ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: HelveticaNeue;
    font-size: 14px;
    color: var(--white);
    position: absolute;
    left: 20px;
    top: 50px;

}
.calender-filter ul li{
    width: auto;
    height: 34px;
    border-radius: 3px;
    line-height: 30px;
    text-align: left;
    margin-top: 10px;
}

.backcolor1{
    background-color: #e39e30;
}
.backcolor2{
    background-color: #9a60cc;
}
.backcolor3{
    background-color: #57b2c9;
}
.backcolor4{
    background-color: #4673e3;
}
.backcolor5{
    background-color: #7fc464;
}
.backcolor6{
    background-color: #9c9c9c;
}
.backcolor7{
    background-color: #d15664;
}
.calender-filter-text{
    text-decoration: none;
}









